<%- include('../partials/header') %>

  <!-- Create the new recipe by adding the ingredients one by one, and adding the howTo as one string-->


  <div class="container mt-5">

    <h1>Edit Recipe</h1>

    <form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST">

      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" name="title" value="<%= recipe.title %>">
      </div>

      <% let ingredientsString='' ; recipe.ingredients.forEach(function(ing) { ingredientsString +=ing.name + ' - ' +
        ing.amount + ',' ; }); %>

        <div class="form-group">
          <label for="ingredients">Ingredients</label>

          <input class="form-control" name="ingredients" value="<%= ingredientsString.toString() %>">

        </div>


        <div class="form-group">
          <label for="howTo">How To</label>
          <textarea class="form-control" name="howTo"><%= recipe.howTo %></textarea>
        </div>

        <button class="btn btn-primary m-3" type="submit" id="updateRecipe">Update Recipe</button>

    </form>

  </div>


  <%- include('../partials/footer') %>