<%- include('../partials/header') %>

  <!-- show the title of the recipe-->
  <div class="container">

    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title fs-1">
          <%= recipe.title %>
            <small class="text-muted fs-6">By <%= recipe.user.name %></small>
        </h4>
      </div>
    </div>

    <!-- show the ingredients as an unordered list  -->
    <div class="card mb-3 fs-3">
      <div class="card-header">
        Ingredients
      </div>
      <ul class="list-group list-group ">
        <li>
          <% recipe.ingredients.forEach(function(ing) { %>
        <li>
          <%= ing.name %> - <%= ing.amount %>
        </li>
        <% }) %>
          </li>
      </ul>
    </div>

    <!-- explain how to make the recipe -->
    <div class="card mb-3 fs-3">
      <div class="card-header">
        How to:
      </div>
      <p class="card-title">
        <%= recipe.howTo %>
      </p>

    </div>



    <table class="table table-hover">
      <div class="reviews fs-3">
        <% if (recipe.reviews) { %>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Review</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <% recipe.reviews.forEach(function(r) { %>
                <tr>
                  <td>
                    <%= r.createdAt.toLocaleDateString() %>
                  </td>
                  <td>
                    <%= r.content %>
                  </td>
                  <td class="review-user">
                    <%= r.userName %>
                  </td>
                  <td>
                    <% if (user?._id.equals(r.user._id)) { %>
                      <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                      </form>
                      <% } %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
          <% } else { %>
            <h5>No Reviews Yet</h5>
            <% } %>
      </div>
    </table>



    <!-- Make edit and delete buttons visible if only the user id matches the user who posted the recipe -->
    <% if (user) { %>

      <% if(user._id.equals(recipe.user._id)) { %>
        <!-- edit button that will send user to edit form -->
        <div class="d-flex justify-content-center">

          <div>
            <button class="btn btn-warning p-2 m-2"
              style="color: darkslateblue; background-color: #F0DDD7; border-color: #9A8CAD;">
              <a href="/recipes/<%= recipe._id %>/edit" class="text-dark">Edit</a>
            </button>
          </div>


          <!-- delete button -->
          <div class="d-flex justify-content-center m-2">
            <form id="delete" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger p-2"
                style="color:darkslateblue; background-color: #D1C1BC; border-color: #9A8CAD;">Delete</button>
            </form>
          </div>
        </div>
        </form>
        <% }; %>
          <!-- keep the 'add comment' section out of the if(user._id.equals(recipe.user._id) conditional, but inside the if (user) conditional -->
          <!-- Logged in users can capp comments -->
          <div class="col-md-6 m-auto">
            <form class="form fs-6" id="content" method="POST" action="/recipes/<%= recipe._id %>/reviews">
              <div class="form-group">
                <label>Review:</label>
                <textarea class="form-control" id="content" name="content"></textarea>
              </div>
              <button class="btn btn-primary m-3" id="addReview">Add Review</button>
            </form>
          </div>



          <% }; %>


  </div>

  <%- include('../partials/footer') %>